---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
).slice(0, 3);
---

<BaseLayout title="sskyu | Web Developer" description="Web開発者sskyuのポートフォリオサイトです。制作物や技術に関するブログを公開しています。">
	<section>
		<h2>sskyu / Web Developer</h2>
		<p>シンプルで高速なWebを作るのが好き。<br />
		コードを書くこと、新しい技術に触れることが趣味。<br />
		制作物と技術メモ置き場。</p>
	</section>

	<section>
		<h2>Tech Stack</h2>
		<ul>
			<li>Astro</li>
			<li>TypeScript</li>
			<li>CSS (Vanilla)</li>
			<li>GitHub Pages</li>
		</ul>
	</section>

	<section>
		<h2>Latest Blog Posts</h2>
		<ul>
			{posts.map((post) => (
				                <li>
				                    <a href={`/blog/${post.slug}`}>{post.data.title}</a>
				                    <span class="publish-date">({post.data.pubDate.toLocaleDateString('ja-JP', { year: 'numeric', month: '2-digit', day: '2-digit' })})</span>
				                </li>			))}
		</ul>
		<a href="/blog">All Posts &rarr;</a>
	</section>
</BaseLayout>
